FLASK_SECRET_KEY=replace-with-long-random-string

MYSQL_HOST=khakha.mysql.pythonanywhere-services.com
MYSQL_PORT=3306
MYSQL_USER=khakha
MYSQL_PASSWORD=*Khakha18062019#
MYSQL_DATABASE=khakha$mnea

PUBLIC_BASE_URL=https://khakha.pythonanywhere.com

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=khakha
MAIL_PASSWORD=*Khakha18062019#
MAIL_DEFAULT_SENDER=no-reply@localhost

BCRYPT_LOG_ROUNDS=12
LOGIN_MAX_ATTEMPTS=5
LOGIN_LOCK_MINUTES=15
PERMANENT_SESSION_LIFETIME_MINUTES=30
